.phonebookForm {
    box-shadow: 0px 0px 10px - 1px rgba(109, 108, 108, 0.2);
    padding: 0px 20px 20px 20px;
    position: relative;
    max-width: 400px;
};

.submitBtn {
    position: absolute;
    top: 120px;
    right: 20px;
    padding: 11px 20px;
    border-radius: 10px;
    background-color: #d0d1d4;
    cursor: pointer;
    font-weight: 500;
};

.submitBtn:hover {
    box-shadow: 0px 0px 3px 0.3px rgba(0, 0, 0, 0.2);
};


.formTitle {
    margin: 20px 0 10px;
    font-size: 28px;
    font-weight: 500;
};

.formItem {
    font-size: 16px;
};
