 /*Header container */ 
 
 .header {
     background-color: #f2f2f2;
     padding: 20px;
 }

 
 /* Logo */
 .logo {
     font-size: 24px;
     font-weight: bold;
 }

 /* Navigation menu */
 .navMenu {
    justify-content: space-between;
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
 }

 /* Navigation menu items */
 .navHome {
   margin-left: 40px;
 }
 .navRegLog {
     margin-right: 40px;

    padding: 10px 20px;
        background-color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
 }
 .navBox {
    display: flex;
    
 }
 /* Navigation menu links */
  .navigateLinkHome {
      color: #333;
      text-decoration: none;
      font-size: 24px;
      font-weight: 400;
      padding: 10px;
      transition: color 0.3s ease;
  }

   .navigateLinkHome:hover,
   .navigateLinkHome:focus {
       color: #4CAF50;
   }
 .navigateLink {
     color: #333;
     text-decoration: none;
     font-size: 16px;
     font-weight: 400;
     padding: 10px;
     transition: color 0.3s ease;
 }

 .navigateLink:hover,
 .navigateLink:focus {
     color: #05880a;
 }

.form_button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}